<!DOCTYPE html>
<html>

{{> partial_head.hbs }}

<body>
    <div class="container">
        <div class="wrapper">
            {{> partial_header.hbs }}

            <div class="content">
                <div class="gallery-title">
                    <h2>Page {{page}}/{{max_pages}}</h2>
                </div>

                <div class="gallery">
                    {{#each images}}
                    <a href="#" fileid="{{id}}" class="gallery-image" filename="{{filename}}">
                    </a>
                    {{/each}}
                </div>

                <div class="pagination">
                </div>
            </div>

            {{> partial_footer.hbs }}
        </div>
    </div>
</body>

<script>
    const url = `${window.location.protocol}//${window.location.host}`;

    // setup images
    const gallery_images = document.querySelectorAll(".gallery-image");

    for (const gallery_image of gallery_images) {
        gallery_image.setAttribute("href", `${url}/${gallery_image.getAttribute("fileid")}`);

        const img = document.createElement("img");
        img.src = `${url}/api/image/retrieve/${gallery_image.getAttribute("fileid")}`;
        img.alt = gallery_image.getAttribute("filename");
        img.title = img.alt;

        gallery_image.appendChild(img);
    }

    // setup pagination
    const pagination = document.querySelector(".pagination");
    const current_page = {{ page }};
    const max_pages = {{ max_pages }};

    if (current_page > 1) {
        const link = document.createElement("a");
        link.setAttribute("href", `${url}/gallery?page=${current_page - 1}`);
        link.setAttribute("class", "pagination-link");
        link.innerHTML = "[ prev ]";
        pagination.appendChild(link);
    }

    if (current_page < max_pages) {
        const link = document.createElement("a");
        link.setAttribute("href", `${url}/gallery?page=${current_page + 1}`);
        link.setAttribute("class", "pagination-link");
        link.innerHTML = "[ next ]";
        pagination.appendChild(link);
    }
</script>

</html>